{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.yaml.template",
      "options": {
        "parser": "yaml"
      }
    }
  ]
}